# BASE DEFAULT libs -- DO NOT REMOVE ANY
    django==1.7.7
    django-extensions>=1.2.5
    ConcurrentLogHandler
    django-picklefield>=0.3.1
    #django_compressor

# Additional env specific libs
    MySQL-python
    pytz
    #python-memcached

#Debugging and testing libs
    #django-debug-toolbar

#Others
