# BASE DEFAULT libs -- DO NOT REMOVE ANY
    django==1.6.2
    django-extensions==1.2.5
    South==0.8.4
    ConcurrentLogHandler
    django-pipeline
    django-picklefield==0.3.1

# Additional env specific libs
    MySQL-python
    pytz
    #python-memcached

#Debugging and testing libs
    #django-debug-toolbar

#Others
