<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
{% block head %}
  <title>{% block head-title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{STATIC_URL}}core/img/icons/asterisk.png" type="image/ico" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="{% block head-charset %}utf-8{% endblock %}" />
  <meta name="viewport"     content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <meta name="keywords"     content="" />
  <meta name="description"  content="" />

  <!-- Meta for Facebook like button -->
  <!-- Refer http://developers.facebook.com/docs/opengraph/objects/builtin/ for more OpenGraph properties -- >
  <meta property="og:type"      content="Website" />
  <meta property="og:image"     content=""/>
  <meta property="og:site_name" content=""/>

  <!-- Meta for Google +1 button -->
  <!-- Refer http://schema.org/docs/gs.html#microdata_itemscope_itemtype for more microdata -->
  <meta itemprop="name"     content="" />
  <meta itemprop="image"    content="" />

  <!-- Place the following lines out of the comment tag to link to your Google Plus Page and change the PageID -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <link href="https://plus.google.com/123456789012345678901" rel="publisher" />

  {% block head-css %}
    {% compressed_css 'core' %}
  {% endblock head-css %}

  {% block head-js %}
  <script type="text/javascript">
    var _MEDIA_URL = "{{MEDIA_URL}}";
    var _STATIC_URL = "{{STATIC_URL}}";
    {% if request.user.id %}
      var _USER_ID = {{request.user.id}};
      var _USER_NAME = "{{request.user.username}}";
    {% else %}
      var _USER_ID = -1;
    {% endif %}
  </script>
  {% compressed_js 'core' %}
  {% endblock head-js %}

  {% block head-extra-js %}{% endblock %}
  {% block head-extra-css %}{% endblock %}

{% endblock head %}
</head>

<body class="{% block body-class %}{% endblock %}">
  <div class="container">
    <header class="clearfix">

      <a href="/" class="logo">
        <!-- <img src="" title="Default logo, please change"/>  -->
        Site Name
      </a>

      <ul class="clearfix f-right account">
        {% if request.user.id %}
          <li class="username">{{request.username}}</li>
          <li><a href="#">Logout</a></li>
        {% else %}
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        {% endif %}
          <li><input type="search" /></li>
      </ul>


      <nav class="f-right">
        <ul class="clearfix">
          <li><a href="/">Nav 1</a>
        </ul>
      </nav>

    </header>

    <div id="body">
    {% block body %}

    You need to update body tag for there to be anything here....

    {% endblock %}
    </div>

    <footer class="clearfix">
      
    </footer>
  </div>
</body>
</html>
